#heading {
    font-family: Arial, sans-serif;
}

.soap {
    display: inline-block;
    transition: background-color 0.5s ease, border 0.5s ease;
}
.soap:active {
    background-color:blue;
    border: 2px solid black;
}

.soap:hover {
    transform: rotate(180deg);
}

.soap p {
    font-size: 30px;
}

#chips-toggle:checked ~ #chips-content {
    display: block !important;
}
#chips-toggle:not(:checked) ~ #chips-content {
    display: none !important;
}